body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color:#333333;

    background-color: #f2f2f2;
}

.visually-hidden {
    position: absolute;
    clip:rect(0 0 0 0);
    width:1px;
    height: 1px;
    margin:-1px;
}

a {
    text-decoration: none;
}

.container {
    background-color: #fff;
    width:1200px;
    margin:0 auto;
    padding:0;
}

.shadow {
    box-shadow: 0 5px 15px 0 rgba(0,1,1,0.2);
}

.main-navigation {
    font-size:14px;
    line-height: 21px;
    color:#000;
}

.site-navigation a {
    color:#000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color:#81b3d2;
}

.active a {
    color: #766357;
  }

.intro {
    min-height: 510px;
    background: url(../img/desktop-bg-triangle.png) 50% 100% no-repeat,
    url(../img/text-sedona.png) 50% 50% no-repeat,
    url(../img/desktop-bg-back.jpg) 0 20% no-repeat;
    background-color: #5496db;
    margin-bottom: 60px;
}

.intro-city {
    color:#000;
    text-align: center;
    margin-bottom: 50px;
}

.intro-heading  {
    font-size: 21px;
    line-height: 26px;
    margin:0 auto 28px;
}

.intro-info {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.blue-reason {
    color:#fff;
    background-color: #81b3d2;
}

.reason-item {
    width:400px;
    height:255px;
    text-align: center;
    margin:0;
}

.reason-photo {
    max-height: 255px;
}

.reason {
    padding-top:45px;
    font-size: 21px;
    line-height: 21px;
    margin-top:0;
}

.description {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
}

.reason-number {
    display:block;
    padding-bottom: 25px;
}

.booking {
    text-align: center; 
    min-height:290px;
}

.interested {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
    padding-top: 55px;
}

.modal {
    width:568px;
    height:482px;
}

.search-hotels {
padding:30px 0;
   font-size: 21px;
   line-height: 26px;
    color:#fff;
   text-align: center;
    width:568px;
    height: 86px;
    background-color: #766357;
    border:0;
    text-transform: uppercase;
    margin-top:50px;
    font-weight: 700;
}

.search-hotels:hover,
.search-hotels:focus {
    background-color: #604e43;
}

.button {
color:#fff;
background-color: #81b3d2;
border:0;
font-size: 21px;
line-height: 26px;
font-weight: 700;
width:458px;
height: 58px;
text-transform: uppercase;
margin:55px 0;
}

.button:hover,
.button:focus {
    background-color:#669ec0;
}

.map {
    background: #cacaca url(../img/map.jpg) no-repeat;
    min-height:474px;
    position: relative;
}

.tag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.social li:hover,
.social li:focus {
    background-color: #669ec0;
}

.footer-copyright {
    font-weight: 400; 
}
/* сеточные стили*/

.main-navigation {
    max-height: 56px;
}

.main-header-logo {
    width: 138px;
    height: 70px;
    padding:0 53px;
}

.main-navigation-wrapper {
    width:100%;
}

.site-navigation {
    width:1200px;
    margin:0;
    padding: 0;
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 56px;
}
 
.function {
    padding-bottom: 20px;
}

.reasons-of-sedona {
    margin:0 auto;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    list-style:none;
}

.more-reasons {
    margin:0 auto;
    padding: 20px 0;
    display:flex;
    list-style:none;
}

.grey-wrap {
    display:flex;
    background-color: #eeeeee;
    margin-top: 0;
}

.main-footer .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social {
    display:flex;
}

.social li img {
margin:15px;
}

.social li {
    width:46px;
    height:48px;
    background-color: #81b3d2;
    display:inline-block;
    margin-right:6px;
}

.booking {
    display:flex;
    flex-direction: column;
   align-items:center;
}

.modal {
    position: relative;
}

.modal-search {
    position: absolute;
    left:316px;
    width:568px;
    height:390px;
    box-sizing: border-box;
    padding:55px;

    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;

    background-color: #fff;
}

.fields {
    position: relative;
    margin-bottom: 30px;
    text-align:right;
}

.modal-search label {
    line-height: 38px;
    float:left;
}

.search-form input {
    padding:6px 0;
    box-sizing: border-box;
    background-color: #f2f2f2;    
    line-height: 26px;
    border:0;
   font-weight: 700;
   text-transform: uppercase;
}

.search-form input[name="date-to"],
.search-form input[name="date-from"] {
    padding-left:12px;
    width:345px;
}

.fields-after {
    position: absolute;
    top:9px;
    right:10px;
    opacity:0.3;
    width:21px;
    height:22px;
    background-color:transparent;
    background-image: url(../img/calendar.svg);
}

.fields-after:hover {
    opacity:1;
}

.search-wrapper {
    float:left;
    box-sizing: border-box;
    width: 50%;
}